# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
rusthuisfrontend/dist
rusthuisfrontend/tmp
rusthuisfrontend/out-tsc

# dependencies
rusthuisfrontend/node_modules

# IDEs and editors
rusthuisfrontend/.idea
rusthuisfrontend/.project
rusthuisfrontend/.classpath
rusthuisfrontend/.c9/
rusthuisfrontend/*.launch
rusthuisfrontend/.settings/
rusthuisfrontend/*.sublime-workspace

# IDE - VSCode
rusthuisfrontend/.vscode/*
rusthuisfrontend/!.vscode/settings.json
rusthuisfrontend/!.vscode/tasks.json
rusthuisfrontend/!.vscode/launch.json
rusthuisfrontend/!.vscode/extensions.json

# misc
rusthuisfrontend/.sass-cache
rusthuisfrontend/connect.lock
rusthuisfrontend/coverage
rusthuisfrontend/libpeerconnection.log
rusthuisfrontend/npm-debug.log
rusthuisfrontend/testem.log
rusthuisfrontend/typings

# e2e
rusthuisfrontend/e2e/*.js
rusthuisfrontend/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Back-end repo
rusthuisbackend/node_modules
rusthuisbackend/package-lock.json
rusthuisbackend/*.log
rusthuisbackend/*.gz
