<!--<div class="container">
  <div class="row">
    <h1>VZW Vincenthof</h1>
    <p>Hier komt de content van de webapplicatie.</p>
    <p>Voorbeeld van collectie patiënten.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="collection">
      <li class="collection-item avatar" *ngFor="let patient of patienten">
        <img id="face" src="../assets/images/unknown.png" alt="">
        <span class="title"><b>Patiënt:</b> {{patient.voornaam}}, {{patient.naam}}</span>
        <p>
          <b>Kamer: </b>{{patient.kamer}}
          <br>
          <b>Verdieping: </b>{{patient.verdieping}}
          <br>
        </p>
        <a href="#!" class="secondary-content">
          <a class="waves-effect waves-light btn">Meer info</a>
        </a>
      </li>
    </ul>
  </div>
</div>-->
<app-menu></app-menu>
<!--<app-verantwoordelijke [verantwoordelijke]="verantwoordelijke"></app-verantwoordelijke>-->
  <router-outlet></router-outlet>
<app-footer></app-footer>