button {
    height: 125px;
    text-align: center;
    vertical-align: middle;
    padding-top: 75px;
    border-radius: 0;
    margin-bottom: 10px;
    position: relative;
}

#size {
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;
    position: absolute;
    top: -17.5px;
    right: -10px;
    border: 2px solid darkred;
}