<h1>Toevoegen dokter</h1>
<p>Hieronder heeft u de mogelijkheid om een dokter toe te voegen aan het platform.</p>

<form>
  <form class="col l6 s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="naam" type="text" class="validate">
        <label for="naam">Naam</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="voornaam" type="text">
        <label for="voornaam">Voornaam</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="voornaam" type="text">
        <label for="voornaam">Voornaam</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="submit" class="wave-effect btn" value="Log in">
      </div>
    </div>
  </form>
</form>