<div class="container">
  <div class="row col s12">
    <h1>Controlepaneel</h1>
    <button class="btn wave-effect col s12 m5 l3" routerLink="/bewoners">Bewoners</button>
    <button class="btn wave-effect col s12 m5 l3 offset-l1 offset-m1" routerLink="/dokters">Dokters</button>
    <button class="btn wave-effect col s12 m5 l3 offset-l1" routerLink="/notificatiecentrum">Notificaties <span id="size">{{ size }}</span></button>
    <button class="btn wave-effect col s12 m5 l3 offset-m1" routerLink="/registreer">Administrator aanmaken</button>
    <button class="btn wave-effect col s12 m5 l3 offset-l1" routerLink="/globaalbericht">Globaal bericht versturen</button>
  </div>
</div>