<!--<app-verantwoordelijke [verantwoordelijke]="verantwoordelijke"></app-verantwoordelijke>-->
<div class="container">
  <div class="row">
    <h1>Login</h1>
    <p>Geef uw e-mailadres en wachtwoord in om in te loggen.</p>

    <form class="col l6 s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="wachtwoord" type="password">
          <label for="wachtwoord">Wachtwoord</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="submit" type="submit" class="wave-effect btn" value="Log in">
        </div>
      </div>
    </form>
  </div>
</div>