/* You can add global styles to this file, and also import other style files */
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize.scss";

$primary: #00897b;
$secondary: #00bfa5;

header{
     line-height: 0;
}

#headerImg{
    max-height: 240px;
}

#logo {
    width: 200px;
    margin-top: 10px;
    @media screen and (min-width: 993px){
        margin-top: 12.5px;
        margin-left: 30px;
    }
}

.collection-item {
    padding-left: 100px !important;
    padding-bottom: 15px !important;
    #face {
        @extend .circle;
        border-radius: 0px;
        width: 75px !important;
        height: auto !important;
    }

    .secondary-content {
        @media screen and (max-width: 750px) {
            position: relative !important;
            float: none !important;
            right: 0px !important;
            top: 5px !important;
            bottom: 20px !important;
        }
    }
}

#mobile-demo {
    background-color: $secondary;
    padding-top: 0px;
    li {
        text-align: center !important;
        border-bottom: 1px solid $primary;
        
        a {
            color: white;
        }
    }
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

